<%- include('../inc/header_inc.ejs')  %>
<div class="container-fluid mt-3">

  <h1><%= title %></h1>
  <!-- table-striper: tạo màu phân biệt các hàng -->
  <div class="d-grid gap-2 col-md-8 ms-auto mb-1" >
    <div class="input-group mb-7 ms-auto" >
            <form action="/product/filter" method="POST">
            <label for="Category" class="ms-1">Lọc theo thể loại: </label>
                <select name="filter" >
                    <option selected value="">All</option>
                        <% listLoai.forEach((objCategory) => { %>                                                  
                            <option value="<%= objCategory._id %>" > <%= objCategory.nameLoai%> </option>
                    <% }); %>
                </select> 
                <button type="submit" class="btn btn-primary me-1">Lọc</button>
            </form>
            <form action="/product/arrange" method="POST">
                <label for="Category" class="ms-1">Sắp Xếp: </label>
                    <select name="arrange" >
                        <option selected value="">Tất cả</option>
                        <option value="1">Tên Lớp A-Z</option>
                        <option value="2">Tên Lớp Z-A</option> 
                    </select> 
                    <button type="submit" class="btn btn-primary me-1">Sắp Xếp</button>
                </form>
               
            
        <button id="add-btn" class="btn btn-success" type="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Thêm Lớp</button>
    </div>
      
  </div>
  
  <table class="table table-bordered table-striped table-hover">
      <thead>
          <tr>
              <th class="text-center">STT</th>
              <th class="text-center"  style="max-width: 100px;">Hình ảnh</th>
              <th class="text-center">Tên Lớp</th>
              <th class="text-center">Phân loại</th>   
              <th class="text-center">Ngành</th>       
              <th class="text-center">Mô tả</th>
              <th class="text-center">Hành Động</th>
              
          </tr>
      </thead>
      <tbody>   
        <% listProduct.forEach(row=>{ %>
            <tr>
                <td class="text-center"> <%= row._id %> </td>
                <td style="text-align: center; vertical-align: middle;max-width: 100px;"><img src="/uploads/<%= row.img %>" alt="anh" style="width: 80px; height: 80px;"></td>
                <td class="text-center"><%= row.name %></td>
                <td class="text-center"><%= row.id_category.nameLoai %></td>  
                <td class="text-center"><%= row.price %></td>      
                <td class="text-center" style="max-width: 200px;"><%= row.mota %></td>
                
                <td class="text-center" style="max-width: 20px;" >
                  <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-product-id="<%= row._id %>"
                  data-bs-target="#deleteModal" ><i class="bi bi-trash" style="font-size: 18px;"></i></button></i> 

                  <button  id="edit-btn" class="btn btn-primary btn-gradient" type="button"  data-bs-toggle="modal"
                  data-bs-target="#updateModal" data-product="<%= JSON.stringify(row) %>"  ><i class="bi bi-pencil-square" style="font-size: 18px;"></i></button></td>
            </tr>

            <% }); %>
        
          

      </tbody>
      
  </table>
  <div class="row justify-content-end">
    <div class="col-auto">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
          <% for (let i = 1; i <= countPage; i++) { %>
            <li class="page-item">
              <a class="page-link" href="/product/<%= i %>"><%= i %></a>
            </li>
          <% } %>
        </ul>
      </nav>
    </div>
  </div>
  

  

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header bg-success">
                  <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: white;">Thêm sản phẩm</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="container" id="add-form">
                      <div class="row">
                          <div class="card">
                              <div class="card-body col-md-12 ">
                                  <form action="/product/addProduct" method="POST" enctype="multipart/form-data" >
                                      <div class="mb-3">
                                          <label for="productName" class="form-label">Tên sản phẩm</label>
                                          <input type="text" class="form-control" id="" name="productName">
                                      </div>
                                      <div class="mb-3">
                                        <label for="productGroup" class="form-label">Phân loại</label>
                                        <select class="form-select" id="" name="productGroup">
                                            
                                            <% listLoai.forEach( row => { %> 
                                                <option value="<%= row._id %>"> <%= row.nameLoai %> </option>      
                                            <% }) ; %>
                                        </select>
                                    </div>
                                      <div class="mb-3">
                                          <label for="productImage" class="form-label">Hình ảnh</label>
                                          <input type="file" class="form-control" id="" name="productImage">
                                      </div>
                                      <div class="mb-3">
                                          <label for="describe" class="form-label">Mô tả</label>
                                          <!-- <input type="text" class="form-control" id="describe" name="productDescribe"> -->
                                          <textarea class="form-control" aria-label="With textarea" id="" name="productDescribe" ></textarea>
                                      </div>
                                      <div class="mb-3">
                                          <label for="productImage" class="form-label">Giá tiền</label>
                                          <input type="text" class="form-control" id="" name="productPrice">
                                      </div>
                                      
                                      <button type="submit" class="btn btn-primary">Save</button>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- sửa sp -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: white;">Sửa sản phẩm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container" id="add-form">
                    <div class="row">
                        <div class="card">  
                            <div class="card-body col-md-12 ">
                                <form action="/product/update" method="POST" enctype="multipart/form-data"  id="formUpdate">
                                  
                                  <input type="hidden" name="productId" id="productId">
                                  <div class="mb-3">
                                        <label for="productName" class="form-label">Tên sản phẩm</label>
                                        <input type="text" class="form-control" id="productName" name="productName" >
                                    </div>
                                    <div class="mb-3">
                                      <label for="productGroup" class="form-label">Phân loại</label>
                                      <select name="productGroup" class="form-control">
                                        <option id="productGroup">Chọn</option>
                                        <% listLoai.forEach((objGroup) => { %>                                                  
                                            <option value="<%= objGroup._id %>" > <%= objGroup.nameLoai%> </option>
                                        <% }); %>
                                    </select>
              
                                  </div>
                                    <div class="mb-3">
                                        <label for="productImage" class="form-label" >Hình ảnh</label>
                                        <input type="file" class="form-control" id="productImage" name="productImage" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="describe" class="form-label" >Mô tả</label>
                                        <textarea class="form-control" aria-label="With textarea" id="productDescription" name="productDescribe" ></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="productImage" class="form-label" >Giá tiền</label>
                                        <input type="text" class="form-control" id="productPrice" name="productPrice">
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xoá sản phẩm</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/product/delete" method="POST" id="formDelete">
                <input type="hidden" name="productIdDelete" id="productIdDelete">
                <div class="modal-body">
                Bạn có chắc muốn xoá sản phẩm này không?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-danger" id="confirmDeleteBtn">Xoá</button>
                </div>
            </form>
          </div>
        </div>
      </div>

      <script>
        var select = document.querySelector('#category');

        select.addEventListener('click', ()=>{
            const selectOption = select.value;
            
            const queryString=`/product?category=${selectOption}`;
            window.location.href=queryString;
        })
      </script>
<%- include('../inc/footer_inc.ejs')  %>